.messages {
    height: 100vh;
    background-color: white;
    padding-top: 15px;
    padding-left: 25px;
}

.messages-header {
    border-bottom: 1 px solid rgb(240, 240, 240);
}

.message {
    height: 30px;
}