.sidebar-communities {
  height: 100vh;
  background-color: rgb(38,28,37);
  color: white;
  font-weight: bold;
}
.sidebar-channels {
  height: 100vh;
  background-color: rgb(75,57,73)
}

.box-light {
  padding: 5px;
  margin: 5px;
  background-color: rgb(81,73,81);
  border-radius: 5px;

}
